# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
.pnpm-store

# Next.js build output
/.next/
/out/

# Miscellaneous
.DS_Store
*.pem
*.log

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Firebase
/.firebase/
firebase-debug.log
firebase-credentials.json
